# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/

# VS Code
.vscode/

# IDE specific files
.idea/
*.swp
*.swo

# Operating System files
.DS_Store
Thumbs.db
cache/
